body {
  font-family: 'Noto Sans JP', sans-serif;
}
.page--home {
  background-image: url('./imgHome.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page--templates {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page--documentation {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.page--tutorial {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page--login {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover; 
}

.page--new-template {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover; 
}

.page--register {
  background-image: url('./pages.png');
  background-repeat: no-repeat;
  background-size: cover; 
}

/* CARD */

.card{
  max-width: 350px;
  background: #c7d2fd;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-color: #ecf4fe;
  color: #1c4781;
}

.card:hover {
  box-shadow: 2px 8px 6px 6px rgba(36, 1, 41, 0.2);


}


.imgTemplate {
  height: 223px;
  object-fit: revert;
}

.card .img{
  height: 200px;
  width: 100%;
}
.card .img img{
  height: 100%;
  width: 100%;
}

.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background-color: #ecf4fe;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}


.card .bottom-text .text{
  text-align: justify;
}

.buttonDownload {
  background-color: #1c4781;
  color: white;
  border-radius: 0.5rem;
}

.buttonDownload {
  background-color: #1c4781;
  color: white;
  padding: 0.45rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  pointer-events: auto;
  width: 30%;
}

/*  MODAAAAL */

.modal-contenido{
  width:50%;
  height: 50%;
  padding: 10px 20px;
  margin: 15% auto;
  position: relative;
  background-color: #ecf4fe;
  color: #1c4781;
  max-height: 100%;
}

.modal{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  pointer-events: auto;
  z-index: 10;
}

.buttonCopy {
  background-color: #1c4781;
  color: white;
  border-radius: 0.5rem;
}

.nameTemplate {
  font-size: 30px;
}

[id|="miModal"]:target{
  opacity:1;
  pointer-events: auto;
}

/* FORMS */

.text-form {
  font-size: x-large;
  color: #1c4781;
}

.form {
  margin: 0 auto;
  color: #1c4781;
}

.form input {
  opacity: 0.75;
  border-radius: .5rem;
  padding-left: 1.5rem;
  height: 45px;
  background-color: #ecf4fe;
}

.button-form {
  margin: 0 auto;
}

.actions a{
  color:#1c4781;
}


/* DOCUMENTATIOON */
.documentation {
  margin: 0 auto;
  margin-top: 8%;
  padding: 5%;
  text-align: justify;
  font-size: 17px;
  opacity: 0.5;
  color: black;
}

.documentation h1 {
  font-size: 35px;
}

.documentation h2 {
  font-size: 20px;
}

.documentation p {
  font-size: 16px;
}

/* LOGIN */
.loginInput {
  color: #1c4781
}

/* HOMEEE */
.containerHome {
  text-indent: 14rem;
  top: 12rem;
  position: relative;
  color: #1c4781;
}

.containerHome h1 {
  font-size: 45px;
}

.containerHome p {
margin-bottom: 2rem;
}

.containerHome a {
  background-color: #1c4781;
  color: white;
  margin-left: 14rem;
  padding: 0.75rem;
  border-radius: 0.5rem;

}